<template lang="pug">
  div
    v-layout(align-center column justify-center style="height:-webkit-fill-available;").wrapper.pb-3
      v-layout(align-center column justify-center)
        p(style="font-size:44px;letter-spacing: 20px;") Friction
        p(style="font-size:22px;letter-spacing: 5px;") Web Design and Arduino
    v-layout(align-center column justify-center style="height:-webkit-fill-available;").wrapper.pb-3
      v-layout(align-center column justify-center)
        p(style="font-size:22px;letter-spacing: 10px;") COMING SOON...
    .wrapper.py-5.px-2
</template>
<script>
export default {
  head () {
    return {
      title: 'Friction'
    }
  }
}
</script>