<template lang="pug">
    div
        v-layout(align-center column justify-center style="height:101vh;text-align:center;").wrapper.pb-3
            v-layout(align-center column justify-center)
                p(style="font-size:44px;letter-spacing: 20px;") CODE REPOSITORY
            .software
            v-layout(align-center column justify-center)
                p(style="font-size:22px;letter-spacing: 10px;") JAVA | WEB DESIGN
            v-layout(align-center column justify-end)
                p(style="font-size:22px;cursor:pointer;letter-spacing: 10px;" @click="scrollToText()") VIEW PROJECTS
            v-icon(color="black" style="cursor:pointer;animation:jumping 2s infinite;" @click="scrollToText()") keyboard_arrow_down
        .wrapper.py-4.px-2
            v-layout(row wrap fill-height)
              v-flex(xs12 md6 v-for="project in prjs" :key="project.link").pa-2
                v-card(height="100%").box
                  v-layout(row wrap @click="$router.push(project.link)")
                    v-flex(xs12 md3).pa-3
                      v-layout(align-center column justify-end)
                        img(:src="project.img" width="100%")
                    v-flex(xs12 md9)
                      v-card-title(style="font-size:22px;") {{project.name}} | {{project.category}}
                      v-card-text {{project.text}}
            v-layout.px-2
              v-spacer
              v-btn(outline @click="showAll = true").ma-0 all projects
        div(style="background-color:#282828;")
          .wrapper.py-5.px-2
            .white--text(style="font-size:22px;letter-spacing: 10px;").mb-5 MY GOAL
            .white--text Coming soon...
        div(style="background-color:white;")
          .wrapper.py-5.px-2
            .black--text(style="font-size:22px;letter-spacing: 10px;").mb-5 TECHNICAL SKILLS
            v-list
              v-list-group(v-for="skillgroup in skills" :key="skillgroup.title")
                v-list-tile(slot="activator")
                  v-list-tile-content
                    v-list-tile-title {{skillgroup.title}}
                v-list-tile(v-for="skill in skillgroup.skills" :key="skill.title")
                  v-list-tile-content
                    v-list-tile-title {{skill.title}}
                  v-rating(v-model="skill.rating" readonly half-increments v-if="skill.rating")
            v-expansion-panel(v-if="false")
              v-expansion-panel-content(v-for="skillgroup in skills" :key="skillgroup.title")
                span(slot="header") {{skillgroup.title}}
                v-card(v-for="skill in skillgroup.skills" :key="skill.title")
                  v-card-title {{skill.title}}
            v-layout(row wrap justify-center).mt-5
              v-flex(style="text-align:center;").xs6
                .black--text(style="font-size:22px;letter-spacing: 10px;") QUESTIONS?
                span Let me know
                v-layout(justify-center).mt-3
                  v-btn(color="info" @click="$router.push('/contact')") Contact Me
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  methods: {
    scrollToText () {
      if (process.browser) window.scrollTo({ top: window.innerHeight - 60, left: 0, behavior: 'smooth' })
    }
  },
  computed: {
    prjs () {
      if (this.showAll) return this.projects
      else return this.projects.slice(0, 4)
    },
    ...mapGetters({
      projects: 'data/projects'
    })
  },
  data () {
    return {
      showAll: false,
      // list from https://www.thebalancecareers.com/computer-skills-list-2063738
      skills: [
        {
          title: 'Software Languages',
          skills: [
            { title: 'HTML and css', rating: 5 },
            { title: 'Java', rating: 3.5 },
            { title: 'C#', rating: 3 },
            { title: 'JS', rating: 4.5 },
            { title: 'Arduino', rating: 4.5 }
          ]
        },
        {
          title: 'Coding Programs',
          skills: [
            { title: 'Visual Studio Code', rating: 4 },
            { title: 'Sublime Text', rating: 4 },
            { title: 'Unity', rating: 3 },
            { title: 'Unreal Engine', rating: 2 }
          ]
        },
        {
          title: 'Design',
          skills: [
            { title: 'Photoshop', rating: 3 },
            { title: 'Sony Vegas', rating: 3 },
            { title: 'Solid Edge', rating: 4 },
            { title: 'Fusion 360', rating: 3.5 }
          ]
        },
        {
          title: 'Amazon AWS',
          skills: [
            { title: 'DynamoDB' },
            { title: 'S3' },
            { title: 'CloudFront' },
            { title: 'Route 53' },
            { title: 'API Gateway' },
            { title: 'Lambda' },
            { title: 'EC2' }
          ]
        },
        {
          title: 'Overall Programs',
          skills: [
            { title: 'Microsoft Word', rating: 4 },
            { title: 'Microsoft Excel', rating: 3.5 },
            { title: 'Microsoft PowerPoint', rating: 4 }
          ]
        }
      ]
    }
  },
  head () {
    return {
      title: 'Software'
    }
  }
}
</script>

<style>
.software {
  background-image: url('../../static/img/software.png');
  height: 220px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
