<template lang="pug">
  div(style="margin-top:-120px;")
    .kitpvp
      v-layout(align-left column justify-center style="height:-webkit-fill-available;height:101vh;")
        v-layout(align-center column justify-end).wrapper.px-5.pb-3
          p(style="font-size:44px;letter-spacing: 20px;background-color:white;padding-left:20px;") KIT PVP
          p(style="font-size:22px;letter-spacing: 10px;background-color:white;padding-left:10px;") JAVA
        v-layout(align-end justify-center).wrapper.px-5.pb-3
          a(href="/download/TTG-KitPvP.jar")
            v-btn(color="info" large).mb-5 Download .jar
          a(href="https://bitbucket.org/TeamTrikThom/ttg-kitpvp/src/" target="_blank")
            v-btn(color="success" large).mb-5 View source code
    div
      v-layout(align-center column justify-center style="height:-webkit-fill-available;").wrapper.py-5
        p(style="font-size:22px;letter-spacing: 10px;") COMING SOON...
</template>

<script>
export default {
  head () {
    return {
      title: 'KitPvP'
    }
  }
}
</script>


<style>
.kitpvp {
  background-image: url('../../static/gif/kitpvp.gif');
  height: -webkit-fill-available;
  background-color: #3d3b4c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
