<template lang="pug">
  div
    v-layout(align-center column justify-center).wrapper.py-5
      v-layout(align-center column justify-center)
        p(style="font-size:44px;letter-spacing: 20px;") Lego Set Builder
        p(style="font-size:22px;letter-spacing: 5px;") Web Design
      v-layout(row)
        v-btn(color="info" @click="dialog = true" large).my-5 Request demo
        a(href="https://lego.trikthom.com/") 
          v-btn(color="success" outline large).my-5 View
    div(style="background-color:#282828;")
      .wrapper.py-5.px-2
        .white--text(style="font-size:22px;letter-spacing: 10px;").mb-5 IDEA
        .white--text Because I have so many unsorted lego bricks it would take a long time to find that one piece that I need to complete the set. So I thought what if I turn around the process and find the correct set for that brick. I would just say what bricks I have and my website would search for me. As it turns out, it takes the website 1 or 2 seconds to search through more than 50 sets and 2000 bricks while if I where to look for the correct brick it would take me at least 5 minutes. A real time saver!
    div(style="background-color:white;")
          .wrapper.py-5.px-2
            .black--text(style="font-size:22px;letter-spacing: 10px;").mb-5 DRAFTS
            span I started to draw the layout of the website on my new iPad with the pencil. I came up with these two screens.
            img(src="/img/lego/sketches/dashboard1.png" width="100%")
            
            .black--text(style="font-size:22px;letter-spacing: 10px;").my-5 THE CONCEPT
            span The concept was very simple, add a brick, find the best set and add it. 
            span In practice it was a bit harder: because I had so many sets, and therefore a lot more bricks, the internet browser would crash. 
            span To fix that I created a back-end server with aws lambda functions. 
            span After a day of perfecting the function it finaly worked and found the right set between 12.000 bricks in around 2 seconds.
            
            .black--text(style="font-size:22px;letter-spacing: 10px;").my-5 CHALLENGES
            span ...
            
            .black--text(style="font-size:22px;letter-spacing: 10px;").my-5 HOW TO USE
            span First you need to login with your credentials (get them 
            span(@click="dialog = true" style="color:blue;text-decoration:underline;cursor:pointer;") here
            span ). Then you will see the dashboard with a couple of example sets.
            img(src="/img/lego/dashboard.png" width="100%")
    v-dialog(v-model="dialog" max-width="1140px")
      v-card
        v-card-title Request a demo
        v-divider
        v-card-text(style="position: inherit;")
          p Please fill in your personal information.
          v-text-field(label="Full Name" v-model="demo.name" :disabled="loading")
          v-text-field(label="Email" v-model="demo.email" :disabled="loading")
          p After the demo credentials are made they will be active for 1 day.
          p Your personal data will not be sold, just used to get feedback from you.
          v-layout(v-if="loading" justify-center align-center style="position: absolute;top:calc(50% - 16px);left:calc(50% - 16px);")
            v-progress-circular(color="primary" indeterminate)
        v-divider
        v-card-actions
          v-spacer
          v-btn(outline color="primary" @click="requestDemo()") Request demo
</template>
<script>
export default {
  data () {
    return {
      dialog: false,
      demo: {
        name: '',
        email: ''
      },
      loading: false
    }
  },
  methods: {
    requestDemo () {
      this.loading = true
      this.$store.dispatch('requestDemo', this.demo).then((res) => {
        if (res.success) {
          //
        }
        this.dialog = false
        setTimeout(() => { this.loading = false }, 100)
      })
    }
  },
  head () {
    return {
      title: 'Lego'
    }
  }
}
</script>