<template lang="pug">
  div
    v-layout(align-center column justify-center).wrapper.py-5
      v-layout(align-center column justify-center)
        p(style="font-size:44px;letter-spacing: 20px;") NDI
        p(style="font-size:22px;letter-spacing: 5px;") Web Design
      v-layout(row)
        a(href="https://www.nauticduikersclubizegem.be/") 
          v-btn(color="success" outline large).my-5 View
    v-layout(align-center column justify-center).wrapper.py-5
      v-layout(align-center column justify-center)
        p(style="font-size:22px;letter-spacing: 10px;") COMING SOON...
    .wrapper.py-5.px-2
</template>
<script>
export default {
  head () {
    return {
      title: 'NDI'
    }
  }
}
</script>