<template lang="pug">
  v-app(light)
    v-toolbar(fixed flat :class="{'scrolledNav': scrolledNav, transparent: isTransparent, white: !isTransparent}" :height="scrolledNav ? '60px' : '120px' ")
      v-layout(style="max-width: 1140px;margin:auto;", :class="{'white--text': (!scrolledNav && (transparentPages.includes($route.name) || $route.name == null)), 'black--text': (scrolledNav || !transparentPages.includes($route.name))}")
        v-toolbar-title.pr-4
          router-link(to="/" style="font-size:16px;font-weight:400;") Home
        v-toolbar-items(style="font-size:16px;font-weight:400;")
          router-link(to="/software" flat).pa-1.mx-2 Software
          router-link(to="/electronics" flat).pa-1.mx-2 Electronics
        v-spacer
        v-toolbar-items(style="font-size:16px;font-weight:400;")
          router-link(to="/contact" flat).pa-1.mx-2 Contact
    div(class="margin" style="min-height:calc(100% - 277px)")
      nuxt
    div(style="background-color:#282828;")
      v-layout(row wrap align-center text-xs-center).pa-5.wrapper
          v-flex(xs3)
            router-link(to="/" style="font-size:16px;font-weight:400;").white--text Home
          v-flex(xs3)
            router-link(to="/software" flat).white--text Software
          v-flex(xs3)
            router-link(to="/electronics" flat).white--text Electronics
          v-flex(xs3)
            router-link(to="/contact" flat).white--text Contact
      div(style="background-color:#191919;")
        v-layout(row wrap align-center text-xs-center).pa-2.wrapper
          v-flex(xs12)
            .white--text &copy TrikThom {{new Date().getFullYear()}}
</template>
<script>
export default {
  created () {
    if (process.browser) {
      if (this.transparentPages.includes(this.$route.name) && window.pageYOffset < 100) {
        this.isTransparent = true
        this.navScroll = window.pageYOffset
      } else {
        this.isTransparent = false
        this.navScroll = window.pageYOffset
      }
      window.addEventListener('scroll', () => {
        this.navScroll = window.pageYOffset
        if (this.transparentPages.includes(this.$route.name) || this.$route.name === null) {
          this.navScroll >= 100 ? this.isTransparent = false : this.isTransparent = true
        }
      })
    }
  },
  computed: {
    scrolledNav () {
      if (this.navScroll >= 100) return true
      else return false
    }
  },
  watch: {
    $route () {
      if (this.transparentPages.includes(this.$route.name) || this.$route.name === null) this.isTransparent = true
      else this.isTransparent = false
    }
  },
  data () {
    return {
      navScroll: 0,
      isTransparent: true,
      transparentPages: ['index', 'software-kitpvp']
    }
  }
}
</script>

<style>
html {
  cursor: default;
}
::-webkit-scrollbar { 
    display: none; 
}
.application {
  font-family: 'Gravity-Regular'!important;
  font-size: 1.1em;
}
.v-card {
  border-radius: 5px;
}
.application.theme--dark {
  background-color:#3d3b4c;
}
.theme--dark .v-card {
  background-color:#424051;
}
.home {
  background-image: url('../static/img/background.png');
  height: 101vh;
  height: -webkit-fill-available;
  background-color: #3d3b4c;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.v-toolbar__content, .v-toolbar {
  -webkit-transition: height .2s, line-height .2s !important;
  transition: height .2s, line-height .2s !important;
}
a {
  color: unset !important;
  text-decoration: unset;
}

@font-face {
    font-family: "Gravity-Regular";
    src: url('/fonts/Gravity-Regular.otf');
}


@font-face {
    font-family: "Gravity-Book";
    src: url('/fonts/Gravity-Book.otf');
}
.wrapper {
  max-width: 1140px;
  margin:auto;
}
@media only screen and (min-width: 1904px) {
  .container {
    max-width: 1140px;
  }
}
@media only screen and (min-width: 1264px) {
  .container {
    max-width: 1140px;
  }
}
.scrolledNav a {
  color: black;
}
.margin {
  margin-top:118px;
}
.box {
  border: 2px solid;
  -webkit-transition: -webkit-transform .15s ease;
  -moz-transition: -moz-transform .15s ease;
  -o-transition: -o-transform .15s ease;
  -ms-transition: -ms-transform .15s ease;
  transition: transform .15s ease;
  position: relative;
  cursor: pointer;
}
.box:hover {
  transform: scale(1.025);
}
@keyframes jumping {
  0% {height: translateY(0px)}
  50% {transform: translateY(-30%)}
  100% {transform: translateY(0px)}
}
.black--text {
  color: #000 !important;
}
.white--text {
  color: #fff;
}
</style>
