<template lang="pug">
    div
        v-layout(align-center column justify-center style="height:-webkit-fill-available;text-align:center;").wrapper.pb-3
            v-layout(align-center column justify-center)
                p(style="font-size:44px;letter-spacing: 20px;") CONTACT
            v-layout(align-center column justify-center)
                p(style="font-size:22px;letter-spacing: 10px;") email: 
                    a(href="mailto:thomasc@trikthom.com" style="font-size:22px;letter-spacing: 10px;") thomasc@trikthom.com
            v-layout(align-center column justify-end)
                p(style="font-size:22px;cursor:pointer;letter-spacing: 10px;" @click="scrollToText()") VIEW INTERNSHIPS
            v-icon(color="black" style="cursor:pointer;animation:jumping 2s infinite;" @click="scrollToText()") keyboard_arrow_down
        .wrapper.py-5.px-2
            
        div(style="background-color:white;")
          .wrapper.py-5.px-2
            p(style="font-size:22px;letter-spacing: 10px;").mb-5 NGDATA
            p Cras facilisis mi vitae nunc lobortis pharetra. Nulla volutpat tincidunt ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam in aliquet odio. Aliquam eu est vitae tellus bibendum tincidunt. Suspendisse potenti.
            p website: 
                a(href="https://www.ngdata.com") www.ngdata.com
</template>

<script>
export default {
  methods: {
    scrollToText () {
      if (process.browser) window.scrollTo({ top: window.innerHeight - 60, left: 0, behavior: 'smooth' })
    }
  },
  head () {
    return {
      title: 'Contact',
      meta: [
        { hid: 'description', name: 'description', content: 'Email me with any suggestions or collaborations' }
      ]
    }
  }
}
</script>