<template lang="pug">
    div
        v-layout(align-center column justify-center style="height:-webkit-fill-available;").wrapper.pb-3
            v-layout(align-center column justify-center)
                p(style="font-size:44px;letter-spacing: 20px;") ELECTRONICS
                p(style="font-size:22px;letter-spacing: 10px;") COMING SOON...
        .wrapper.px-2
</template>

<script>
export default {
  head () {
    return {
      title: 'Electronics'
    }
  }
}
</script>


<style>
.electronics {
  background-image: url('../static/img/electronics.png');
  height: 220px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
