<template lang="pug">
  div(style="margin-top:-120px;")
    .home
      v-layout(align-left column justify-center style="height:-webkit-fill-available;").wrapper.px-5.pb-3
        v-layout(align-left column justify-end)
          .white--text(style="font-size:44px;") Thomas Crombez
          .white--text(style="font-size:22px;") a full stack developer and electronics hobbyist passionate for innovative technology
        v-layout(align-center column justify-end)
          .white--text(style="font-size:22px;cursor:pointer;" @click="scrollToText()") Read More
          v-icon(color="white" style="cursor:pointer;animation:jumping 2s infinite;" @click="scrollToText()") keyboard_arrow_down
    div(style="background-color:white;")
      .wrapper.py-5.px-2
        v-layout(row wrap align-center text-xs-center)
          v-flex(xs12 md4)
            img(src="/favicon.ico" class="profile")
          v-flex(xs12 md8)
            v-card(flat).transparent
              v-card-text Welcome to my website. My name is Thomas Crombez alias TrikThom, I'm a full stack developer and electronics hobbyist. I'm {{Math.abs((new Date(Date.now() - new Date('2001/4/3').getTime())).getFullYear() - 1970)}} years old and live in Belgium. I created this site to share my projects with the world.
    div(style="background-color:#282828;")
      .wrapper.py-5.px-2
          v-layout(row wrap text-xs-center).mb-3
            v-flex(xs12).ma-5
              .headline.white--text Software
            v-flex(xs12 md4 v-for="project in projects" :key="project.name")
              v-card(flat).transparent
                v-card-title(primary-title).justify-center
                  .headline.white--text {{project.name}}
                v-card-text.white--text {{project.text}}
            v-layout(justify-center).mt-5
              v-btn(color="success" outline @click="$router.push('/software')") Learn More
    div(style="background-color:white;")
      .wrapper.py-5.px-2
          v-layout(row wrap text-xs-center).mb-5
            v-flex(xs12).ma-5
              .headline Electronics
            v-flex(xs12)
              span Coming soon...
            v-layout(justify-center).mt-5
              v-btn(color="success" outline @click="$router.push('/electronics')") Learn More
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  methods: {
    scrollToText () {
      if (process.browser) window.scrollTo({ top: window.innerHeight - 60, left: 0, behavior: 'smooth' })
    }
  },
  computed: {
    ...mapGetters({
      projects: 'data/topProjects'
    })
  },
  head () {
    return {
      title: 'TrikThom',
      meta: [
        { hid: 'description', name: 'description', content: 'an electronics hobbyist passionate for innovative technology and digital content' }
      ]
    }
  }
}
</script>

<style>
.profile {
  border-radius: 50%;
  height: 200px;
}
</style>
